@import "@/assets/variable.less";
@import "@/assets/theme.less";

body,html{
  padding: 0;
  margin: 0;
  background-color: var(--p-color);
  transition: background-color @transition-time;
}

.justify-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-screen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


